/* line 1, ../../../../Development/dev/sass/android422.scss */
body {
  overflow: scroll;
}

/* line 5, ../../../../Development/dev/sass/android422.scss */
.cl-content {
  overflow: scroll !important;
  overflow-y: scroll;
}

/* line 12, ../../../../Development/dev/sass/android422.scss */
#activityDetail #activityDetailTabs .cl-btn {
  width: 33%;
}
/* line 18, ../../../../Development/dev/sass/android422.scss */
#activityDetail #praktischContent #goingList {
  width: 100%;
  padding-bottom: 20px;
}
/* line 22, ../../../../Development/dev/sass/android422.scss */
#activityDetail #praktischContent #goingList label {
  width: 50%;
  float: left;
}

/* line 33, ../../../../Development/dev/sass/android422.scss */
#mainNav {
  position: fixed;
  width: 100%;
}

/* line 42, ../../../../Development/dev/sass/android422.scss */
#home .cl-content input[type=email], #createUser .cl-content input[type=email], #createActivity .cl-content input[type=email], #settings .cl-content input[type=email] {
  background: url("assets/mail-icon@x2.png") no-repeat 10px 15px;
  background-size: 15px 12px;
}
/* line 47, ../../../../Development/dev/sass/android422.scss */
#home .cl-content input[type=password], #createUser .cl-content input[type=password], #createActivity .cl-content input[type=password], #settings .cl-content input[type=password] {
  background: url("assets/lock-icon@x2.png") no-repeat 10px 12px;
  background-size: 12px 16px;
}
/* line 52, ../../../../Development/dev/sass/android422.scss */
#home .cl-content #nameInput, #createUser .cl-content #nameInput, #createActivity .cl-content #nameInput, #settings .cl-content #nameInput {
  background: url("assets/speech-icon@x2.png") no-repeat 10px 12px;
  background-size: 15px 15px;
}

/* line 61, ../../../../Development/dev/sass/android422.scss */
#createUser .cl-bar-title, #createActivity .cl-bar-title, #settings .cl-bar-title {
  position: fixed;
  z-index: 100000;
}
/* line 66, ../../../../Development/dev/sass/android422.scss */
#createUser .cl-form, #createActivity .cl-form, #settings .cl-form {
  padding-top: 80px;
  position: relative;
}
/* line 70, ../../../../Development/dev/sass/android422.scss */
#createUser .cl-form #genderSelect, #createActivity .cl-form #genderSelect, #settings .cl-form #genderSelect {
  display: block;
  height: 30px;
  width: 100%;
}
/* line 74, ../../../../Development/dev/sass/android422.scss */
#createUser .cl-form #genderSelect label, #createActivity .cl-form #genderSelect label, #settings .cl-form #genderSelect label {
  width: 50%;
  display: block;
  float: left;
}
/* line 81, ../../../../Development/dev/sass/android422.scss */
#createUser .button-container, #createActivity .button-container, #settings .button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
}
/* line 88, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm, #createActivity #createUserForm, #settings #createUserForm {
  padding-bottom: 160px;
}

/* line 95, ../../../../Development/dev/sass/android422.scss */
#profile #profileTabs .cl-btn {
  float: left;
  display: block;
  width: 33%;
}
/* line 102, ../../../../Development/dev/sass/android422.scss */
#profile .cl-content {
  clear: both;
}

/* line 107, ../../../../Development/dev/sass/android422.scss */
#dashboard {
  position: relative;
}
/* line 110, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-content {
  overflow-y: auto;
  height: 100%;
}
/* line 114, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-content #activityTable {
  overflow: visible;
}
/* line 120, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-bar-title .add-icon {
  background: url("assets/add-icon@x2.png") no-repeat center right/20px 20px;
  background-size: 20px 20px;
}
/* line 125, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-bar-title .search-icon {
  background: url("assets/search-icon@x2.png") no-repeat center left;
  background-size: 18px 18px;
}
/* line 132, ../../../../Development/dev/sass/android422.scss */
#dashboard #fullScreenButton {
  background: #378488 url("assets/fullscreen-icon@x2.png") no-repeat center center;
  background-size: 15px 15px;
}
/* line 138, ../../../../Development/dev/sass/android422.scss */
#dashboard .mapOpen #map_canvas {
  height: 100% !important;
}
/* line 142, ../../../../Development/dev/sass/android422.scss */
#dashboard .mapOpen #fullScreenButton {
  background: #378488 url("assets/normalscreen-icon@x2.png") no-repeat center center;
  background-size: 15px 15px;
}
/* line 153, ../../../../Development/dev/sass/android422.scss */
#dashboard #activityTable .dashboard-footer ul .table-location {
  background: url("assets/cursor-icon@x2.png") no-repeat 0 10px;
  background-size: 16px 15px;
}
/* line 158, ../../../../Development/dev/sass/android422.scss */
#dashboard #activityTable .dashboard-footer ul .table-friends {
  background: url("assets/friend-icon@x2.png") no-repeat 0 12px;
  background-size: 22px 16px;
}

/* line 168, ../../../../Development/dev/sass/android422.scss */
#settings #avatarSection {
  padding-top: 40px;
  display: block;
}

/* line 175, ../../../../Development/dev/sass/android422.scss */
#profile #profileContent {
  overflow-y: auto;
}

/* line 180, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-content {
  height: 1000px !important;
  overflow-y: auto;
  overflow: scroll;
}
/* line 185, ../../../../Development/dev/sass/android422.scss */
#dashboard .cl-content #activityTable {
  overflow: scroll;
}

/* line 190, ../../../../Development/dev/sass/android422.scss */
#createActivity #createActivityContent input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #303d4d url("../../common/img/sliderButton.png") 0 0;
  background-size: 20px 20px;
}

/* line 196, ../../../../Development/dev/sass/android422.scss */
#createActivity #createActivityContent input[type='range'] {
  background: #ededed;
}

/* line 201, ../../../../Development/dev/sass/android422.scss */
#createActivity #createActivityTabs {
  width: 100%;
  left: 0;
  top: 0;
  display: none;
}
/* line 208, ../../../../Development/dev/sass/android422.scss */
#createActivity #locationInput {
  background: #ededed url("assets/map2-icon@x2.png") no-repeat 10px 15px !important;
  background-size: 14px 14px;
}
/* line 213, ../../../../Development/dev/sass/android422.scss */
#createActivity .button-container {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 10000;
}

/* line 224, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm input[type='range'] {
  background: #ededed;
}
/* line 228, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #303d4d url("../../common/img/sliderButton.png") 0 0;
  background-size: 20px 20px;
}
/* line 234, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm #s1 {
  background: url("assets/male-gender-icon@x2.png") no-repeat top left;
  background-size: 30px 30px;
}
/* line 239, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm #s2 {
  background: url("assets/female-gender-icon@x2.png") no-repeat top left;
  background-size: 30px 30px;
}
/* line 244, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm #s1.checked {
  background: url("assets/male-gender-icon-selected@x2.png") no-repeat top left;
  background-size: 30px 30px;
}
/* line 249, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm #s2.checked {
  background: url("assets/female-gender-icon-selected@x2.png") no-repeat top left;
  background-size: 30px 30px;
}
/* line 254, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm input[type=text], #createUser #createUserForm input[type=password], #createUser #createUserForm input[type=email] {
  border-radius: 0;
  margin-bottom: 15px;
}
/* line 259, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm input[type=email] {
  background: #ededed url("assets/mail-icon@x2.png") no-repeat 10px 15px;
  background-size: 15px 12px;
}
/* line 264, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm input[type=password] {
  background: #ededed url("assets/lock-icon@x2.png") no-repeat 10px 12px;
  background-size: 12px 16px;
}
/* line 269, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm #nameInput {
  background: #ededed url("assets/speech-icon@x2.png") no-repeat 10px 12px;
  background-size: 15px 15px;
}
/* line 274, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm .button-container {
  z-index: 1000;
}
/* line 276, ../../../../Development/dev/sass/android422.scss */
#createUser #createUserForm .button-container #createUserButton {
  position: relative;
  z-index: 10000;
}

/* line 284, ../../../../Development/dev/sass/android422.scss */
#avatarDisplay {
  height: 70% !important;
}

/* line 288, ../../../../Development/dev/sass/android422.scss */
#planner .cl-content #plannerMap .planner-section .sports-bubble .planner-footer .table-time {
  background: url("assets/time-icon-small@x2.png") no-repeat top left;
  background-size: 12px 12px;
}

/* line 293, ../../../../Development/dev/sass/android422.scss */
#planner .cl-content #plannerMap .planner-section .sports-bubble .planner-footer .table-location {
  background: url("assets/map-icon-small@x2.png") no-repeat top left;
  background-size: 12px 11px;
}

/* line 298, ../../../../Development/dev/sass/android422.scss */
#planner .cl-content #plannerMap .planner-section .edit-badge {
  background: #dd6562 url("assets/pen-icon@x2.png") no-repeat center center;
  background-size: 15px 15px;
}

/* line 303, ../../../../Development/dev/sass/android422.scss */
.prev-icon {
  background: url("assets/prev-icon@x2.png") no-repeat center center;
  background-size: 11px 22px;
}

/* line 308, ../../../../Development/dev/sass/android422.scss */
.menu-icon {
  background: url("assets/menu-icon@x2.png") no-repeat center center;
  background-size: 23px 16px;
}

/* line 313, ../../../../Development/dev/sass/android422.scss */
.settings-icon {
  background: url("assets/settings-icon@x2.png") no-repeat center center;
  background-size: 24px 23px !important;
  padding: 0;
}

/* line 319, ../../../../Development/dev/sass/android422.scss */
.add-icon {
  background: url("assets/add-icon@x2.png") no-repeat center center;
  background-size: 23px 16px;
}

/* line 324, ../../../../Development/dev/sass/android422.scss */
.share-icon {
  background: url("assets/share-icon@x2.png") no-repeat center center;
  background-size: 22px 19px;
}

/* line 329, ../../../../Development/dev/sass/android422.scss */
.location-icon {
  background: url("assets/map-icon@x2.png ") no-repeat center center;
  background-size: 15px 14px;
}

/* line 335, ../../../../Development/dev/sass/android422.scss */
.profile-icon {
  background: url("assets/profile-icon@x2.png") no-repeat center center;
  background-size: 20px 20px;
}

/* line 340, ../../../../Development/dev/sass/android422.scss */
.calendar-icon {
  background: url("assets/calendar-icon@x2.png") no-repeat center center;
  background-size: 20px 20px;
}

/* line 345, ../../../../Development/dev/sass/android422.scss */
.list-icon {
  background: url("assets/list-icon@x2.png") no-repeat center center;
  background-size: 20px 20px;
}

/* line 350, ../../../../Development/dev/sass/android422.scss */
.cam-icon {
  background: url("assets/cam-icon@x2.png") no-repeat center center;
  background-size: 15px 13px;
}

/* line 356, ../../../../Development/dev/sass/android422.scss */
#loading {
  background: #303d4d url("../../common/img/loading_background.png") repeat top left;
  background-size: 320px 568px;
}

/* line 361, ../../../../Development/dev/sass/android422.scss */
#challengesContainer, #activityTable {
  min-height: 2000px;
}

/* line 365, ../../../../Development/dev/sass/android422.scss */
#createButton {
  display: inline-block;
}

/* line 369, ../../../../Development/dev/sass/android422.scss */
#challengeView #challengesOverviewTable .challenge-item, #challengeView #myChallengesOverviewTable .challenge-item {
  width: 100% !important;
}

/* line 373, ../../../../Development/dev/sass/android422.scss */
#favouriteSportList {
  padding-bottom: 10000px;
  display: none;
  overflow: auto;
  min-height: 2500px;
}

/* line 381, ../../../../Development/dev/sass/android422.scss */
#settings .cl-content {
  padding-top: 60px;
}
