<div class="cl-page" id="profile">
  <div class="cl-bar-title">
    <a href="javascript:;" class="cl-btn cl-btn-header" data-transition="slide-out" id="menuButton">
      <i class="menu-icon">&nbsp;</i>
    </a>
    <div class="cl-title">Profiel</div>
    <a href="#settings" class="cl-btn cl-btn-header" data-transition="slide-out">
      <i class="settings-icon">&nbsp;</i>
    </a>
  </div>

	<div class="cl-btn-toolbar flex" id="profileTabs">
		<a data="#atleetContent" class="cl-btn active" id="atleetButton">Atleet</a>
		<a data="#uitdagingenContent" class="cl-btn" id="challengesButton">Uitdagingen</a>
		<a data="#vriendenContent" class="cl-btn" id="friendsButton">Vrienden</a>
	</div>

	<div class="cl-content" style="overflow: scroll;">        
		<div id="profileContent" style="height: 100%;">
			
		</div>
	</div>
</div>