<div id="challengeView">
	<div id="badgesOverview">
		<!--<h4>Jouw medailles</h4>-->
		<ul>
			<li></li>
		</ul>
	</div>


	<div id="challengesContainer" style="height: 100%;">

		<div id="myChallengesOverview">
			<h4>Mijn uitdagingen</h4>

	       	<div class="no-found2" class="hide">
	        	Kies een uitdaging om een medaille te verdienen
	    	</div>

			<div class="cl-table" id="myChallengesOverviewTable" class="hide">

			</div>       
		</div>

		<div id="challengesOverview">
	       	<h4>Beschikbare uitdagingen</h4>

	       	<div class="no-found" class="hide">
	        	Er zijn momenteel geen uitdagingen beschikbaar
	    	</div>

			<div id="challengesOverviewTable">

			</div>       
		</div>
	</div>
</div>